
body{
  background-color: rgb(255, 239, 239);
  margin-top: 90px;
  font-family: 'Neoeb';

}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Neolt';
  src:url(./fonts/NanumSquareNeoTTF-aLt.woff2) format('woff2');
}


@font-face {
  font-family: 'Neorg';
  src:url(./fonts/NanumSquareNeoTTF-bRg.woff2) format('woff2');
}

@font-face {
  font-family: 'Neobd';
  src:url(./fonts/NanumSquareNeoTTF-cBd.woff2) format('woff2');
}


@font-face {
  font-family: 'Neoeb';
  src:url(./fonts/NanumSquareNeoTTF-dEb.woff2) format('woff2');
}


@font-face {
  font-family: 'Neohv';
  src:url(./fonts/NanumSquareNeoTTF-eHv.woff2) format('woff2');
}